<!doctype html>

{% load i18n %}
{% load static %}

<html>
    <head>
        <title>{% trans "Pictures" %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
    </head>
    <body class="container-fluid">

        <h1>{% trans "Pictures" %}</h1>

        {% block content %}
        {% endblock %}

    </body>
</html>
