{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load thumbnail %}

{% block content %}
<div class="row">
    <div class="col-sm">
        <h2>{% trans "List of pictures" %}</h2>
    </div>
</div>

<div class="row">
{% for img in object_list %}
    <div class="col-md-4 col-lg-2 card mb-1 p-1 shadow-sm">
        <div class="text-center">
            <a href="{% url 'imageview' img.pk %}">
                <img src="{{ img.main_path|thumbnail_url:'small' }}" />
            </a>
        </div>
        <div class="card-body">
            <div class="float-right">
                <a href="{% url 'imageview' img.pk %}" class="btn btn-sm btn-outline-secondary">{% trans "View" %}</a>
            </div>
            <p class="card-text">
                #{{ img.pk }}
            </p>
        </div>
    </div>
{% endfor %}
</div>

<div class="d-flex justify-content-center">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; {% trans "First" %}</a>&nbsp;
    <a href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>&nbsp;
    {% endif %}

    {% blocktrans with page_number=page_obj.number num_pages=page_obj.paginator.num_pages %}
    Page {{ page_number }} of {{ num_pages }}.&nbsp;
    {% endblocktrans %}

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>&nbsp;
    <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "Last" %} &raquo;</a>
    {% endif %}
</div>

{% endblock %}
