{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load thumbnail %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>{% trans "Picture" %} #{{ object.pk }}</h2>

        <a href="{{ back_url }}" class="btn btn-sm btn-outline-secondary">&lt; {% trans "Back to list" %}</a>
    </div>
</div>

<br>

<div class="row">
    <div class="col">
        <div>
            <img src="{{ object.main_path|thumbnail_url:'regular' }}" />
        </div>

        <br>

        <h3>{% trans "Comment" %}</h3>

        <p>{{ object.comment }}</p>
    </div>
</div>


{% endblock %}

